@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

html {
  line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
		font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
		font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
		font-size: 14px;
  }
}

body {
  font-family: $mainFont;
	font-family: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

a {
	text-decoration: none;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  max-width: 1200px;
  min-height: 991px;
  background-color: #101114;
  margin: auto;
  justify-content: center;
  padding-top: 80px;
}

.wrapper {
  height: 830px;
  width: 960px;
  display: flex;

  &__left-menu {
    background-color: green;
    width: 33%;
    height: 375px;

    &__list {
      background-color: red;
    }
    &__item {
      color: white;
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      height: 75px;
      line-height: 4;
      padding-left: 30px;
      border-bottom: 1px solid #20232b;
      cursor: pointer;

      &_dark{
        background-color: #1f2229;
      }

      &_black-dark {
        background-color: #191c24;
      }
    }
  }

  &__card {
    background-color: #f7f8f8;
    height: 100%;
    width: 67%;
  }


}