@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

html {
  line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
		font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
		font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
		font-size: 14px;
  }
}

body {
  font-family: $mainFont;
	font-family: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

a {
	text-decoration: none;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  max-width: 1200px;
  min-height: 991px;
  background-color: #101114;
  margin: auto;
  justify-content: center;
  padding-top: 80px;
}

.wrapper {
  height: 100%;
  width: 960px;
  display: flex;

  &__left-menu {
    width: 33%;
    height: 375px;
    margin-right: 2px;

    &__list {
    }
    &__item {
      color: white;
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      height: 75px;
      line-height: 4;
      padding-left: 30px;
      border-top: 1px solid #20232b;
      cursor: pointer;

      &.active {
        background-color: #2a2d37;
        color: #808592;
      }


      &_dark{
        background-color: #1f2229;
      }

      &_black-dark {
        background-color: #191c24;
      }
    }
    &__item:hover {
      background-color: #2a2d37;
      color: #808592;
    }
  }

  &__card {
    background-color: #f7f8f8;
    height: 100%;
    width: 67%;
    padding-top: 45px;
    border-top: 1px solid #e8e9e9;
    border-bottom: 1px solid #272b30;

    &__container {

    padding-bottom: 40px;
    padding-left: 30px;

      &__info {
      display: flex;
      flex-direction: column;

      &__text {
        display: inherit;
        color: #8494ab;
        font-size: 16px;
        margin-bottom: 20px;

        .number-card {
          margin: 0px;
          padding-left: 60px;
          color: black;
        }

        .cash {
          margin: 0px;
          padding-left: 35px;
          color: black;
        }

      }
    }

      &__card-data {

      h1 {
        font-size: 22px;
        padding-bottom: 20px;
        padding-top: 5px;
      }

      .bank-front {
        width: 350px;
        height: 235px;
        border-radius: 10px;
        border: 1px solid #e4e9ee;
        padding-top: 25px;
        padding-left: 15px;
        position: relative;
        z-index: 1;
        background-color: #f7f8f8;


        &__number {
          padding-bottom: 15px;

          span {
            font-size: 16px;
            color: #a3afc0;
          }
        }

        &__card-input {
          width: 65px;
          height: 40px;
          outline:none;
          border: 1px solid #e4e9ee;
          margin-right: 5px;
          text-align: center;
          font-size: 16px;
          color: #bec6cf;

          &.error {
            border: 1px solid red;
          }
        }
      }

      .bank-back {
        width: 350px;
        height: 235px;
        border-radius: 10px;
        border: 1px solid #e4e9ee;
        padding-top: 25px;
        padding-left: 15px;
        position: absolute;
        margin-top: -210px;
        margin-left: 210px;

        &__line {
          width: 100%;
          height: 40px;
          background-color: #e4e9ee;
          margin-bottom: 20px;
        }

        &__cvv {
          display: flex;
          justify-content: flex-end;
          padding-right: 24px;

          span {
            font-size: 16px;
            color: #8494ab;
          }
        }

        &__pass-code {
          display: flex;
          justify-content: flex-end;
          padding-right: 15px;

          input {
            width: 140px;
            height: 40px;
            border: 1px solid #e4e9ee;
            outline: none;
            font-size: 16px;
            color: #bec6cf;
            padding-left: 20px;

            &.error {
              border: 1px solid red;
            }
          }
        }

        &__pass-code:after {
          content: '';
          background-image: url("../img/answer.png");
          width: 30px;
          height: 30px;
          position: absolute;
          top: 112px;
          right: 25px;

        }

      }

      &__name {
        width: 320px;
        height: 40px;
        background-color: white;
        outline: none;
        border: 1px solid #e4e9ee;
        font-size: 16px;
        color: #cfd5dc;
        padding-left: 10px;
      }
    }

      &__time {

      &__container {
        display: flex;
        padding-bottom: 10px;
      }

      span {
        font-size: 16px;
        color: #a3afc0;
      }

      &__select-month {
        width: 70px;
        position: relative;
        height: 40px;
        margin-right: 10px;
        background-color: white;

        select {
          padding: 10px;
          width: inherit;
          height: inherit;
          background: none;
          appearance: none;
          z-index: 1;
          border: 1px solid #e4e9ee;
          font-size: 16px;
          border-radius: 0px;
          outline: none;

        }
      }

      &__select-month:after {
        content: "";
        display: block;
        position: absolute;
        z-index: 1;
        background-image: url('../img/image.svg');
        width: 16px;
        height: 8px;
        top: 16px;
        right: 10px;
        pointer-events: none;
      }

      &__select-year {
        width: 85px;
        position: relative;
        height: 40px;
        background-color: white;

        select {
          padding: 10px;
          width: inherit;
          height: inherit;
          background: none;
          appearance: none;
          z-index: 1;
          border: 1px solid #e4e9ee;
          font-size: 16px;
          border-radius: 0px;
          outline: none;
        }
      }

      &__select-year:after {
        content: "";
        display: block;
        position: absolute;
        z-index: 1;
        background-image: url('../img/image.svg');
        width: 16px;
        height: 8px;
        top: 16px;
        right: 10px;
        pointer-events: none;
      }

    }

      &__send {
        width: 135px ;
        height: 40px ;
        background-color: #0058ba;
        border-radius: 20px;
        outline: none;
        color: white;
        margin-top: 40px;
        margin-left: 20px;
        cursor: pointer;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
    }
    }

    &__agreement {
      font-size: 12px;
      color: #89909d;
      background-color: #373c43;
      padding-left: 30px;
      padding-top: 30px;
      padding-right: 39px;
      padding-bottom: 17px;

      &__text {

      }



      p {
        margin: 0px;
        padding-bottom: 10px;
      }

    }
  }


}
.black-dark-text {
  color: #808592;
}

